:root{
    --fg: #C0A47E;
    --sd: #65BAF0;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #040F16;
    color: var(--sd);
}

li{
    margin: 0px 80px;
    display: inline;
}

h1{
    color: var(--fg);
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 8em;
    text-shadow: var(--fg) 1px 0 10px;
}

.hero__container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 100px; */
}

.hero__text{
    font-size: 2.2rem;
    max-width: 30ch;
    margin-top: 20px;
    margin-right: 105px;
    padding: 20px 100px;
}

@media (max-width: 600px) {
    h1{
        font-size: 5rem;
    }
    .hero__text{
        font-size: 1.6rem;
    }
    
    .hero__btn{
        width: 100px;
    }
    
}

#Home, #Menu, #Contact{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.4s;
}

#Home:hover, #Menu:hover, #Contact:hover{
    color: var(--fg);
    text-shadow: var(--fg) 2px 0 12px;
}

.landing{
    font-family: 'Quicksand', sans-serif;
}

.homeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 93vh;
    background-image: url(./space2.webp);
    background-size: cover;
    background-position: right;
    position: relative;
    color: var(--sd);
}

.hero__btn{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 2px var(--fg) solid;
    font-size: 1em;
    background-color: transparent;
    color: var(--fg);
    cursor: pointer;
    animation: ease-in;
    transition: all 0.6s;
    margin-top: 30px;
}

.hero__btn:hover{
    background-color: #c0a47e;
}

h2{
    font-family: 'Pacifico', cursive;
    font-size: 7em;
    color: var(--fg);
    align-self: flex-start;
    margin-left: 60px;
    margin-bottom: 50px;
    text-shadow: var(--fg) 1px 0 10px;
}

/* h2::after{
    content: "";
    display:block;
    height: 1px;
    width: 1200px;
    background-color: var(--sd);
} */

.menuSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    min-height: 93vh;
    background-image: url(./space2.webp);
    background-size: cover;
}

.menu__container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.menuList{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.menuItem{
    display: block;
    font-size: 1.4rem;
}

#itemName{
    display:block;
    align-self: flex-start;
    color: var(--fg);
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    text-shadow: var(--fg) 2px 0 12px;
}

#itemDescription{
    display: inline-block;
    color: #999999;
    font-size: 1.2rem;
    width: 300px;
}

#itemPrice{
    color: var(--sd);
    display: inline-block;
    margin-left: 92%;
    transform: translateY(-55px);
    font-weight: 800;
}

#itemPrice::after{
    content: "";
    display: block;
    background-color:var(--fg);
    height: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.menuList:nth-child(3) .menuItem:before{
    content: "Appetizers";
    color: green;
    width: 100px;
    height: 100px;
}